<a href="https://colab.research.google.com/github/sandravetchesky-tech/INTED_2025/blob/main/Sandra_lista_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numeros = []

# Ler 15 números do usuário
for i in range(15):
    n = int(input(f"Digite o {i+1}º número: "))
    numeros.append(n)

# Remover repetidos mantendo a ordem
lista_sem_repetidos = []
for num in numeros:
    if num not in lista_sem_repetidos:
        lista_sem_repetidos.append(num)

print("Lista original:", numeros)
print("Sem repetidos:", lista_sem_repetidos)

Digite o 1º número: 40
Digite o 2º número: 66
Digite o 3º número: 22
Digite o 4º número: 90
Digite o 5º número: 88
Digite o 6º número: 4
Digite o 7º número: 55
Digite o 8º número: 3
Digite o 9º número: 66
Digite o 10º número: 54
Digite o 11º número: 33
Digite o 12º número: 14
Digite o 13º número: 17
Digite o 14º número: 28
Digite o 15º número: 97
Lista original: [40, 66, 22, 90, 88, 4, 55, 3, 66, 54, 33, 14, 17, 28, 97]
Sem repetidos: [40, 66, 22, 90, 88, 4, 55, 3, 54, 33, 14, 17, 28, 97]

In [2]:
nomes = []
idades = []

# Ler 10 nomes
for i in range(10):
    nome = input(f"Digite o {i+1}º nome: ")
    nomes.append(nome)

# Ler 10 idades
for i in range(10):
    idade = int(input(f"Digite a idade de {nomes[i]}: "))
    idades.append(idade)

# Encontrar a maior idade
maior_idade = max(idades)

# Encontrar o índice da maior idade
indice = idades.index(maior_idade)

# Exibir o nome da pessoa mais velha
print("A pessoa mais velha é:", nomes[indice])

Digite o 1º nome: Sandra
Digite o 2º nome: Isabelly
Digite o 3º nome: Jordana
Digite o 4º nome: Deborah
Digite o 5º nome: Edina
Digite o 6º nome: Gustavo
Digite o 7º nome: LUAN
Digite o 8º nome: MARA
Digite o 9º nome: GENANY
Digite o 10º nome: VAVA
Digite a idade de Sandra: 16
Digite a idade de Isabelly: 9
Digite a idade de Jordana: 9
Digite a idade de Deborah: 17
Digite a idade de Edina: 37
Digite a idade de Gustavo: 56
Digite a idade de LUAN: 44
Digite a idade de MARA: 16
Digite a idade de GENANY: 77
Digite a idade de VAVA: 3
A pessoa mais velha é: GENANY

In [3]:
numeros = []

# Ler 10 números
for i in range(10):
    n = float(input(f"Digite o {i+1}º número: "))
    numeros.append(n)

# Processar a lista
for i in range(10):
    if numeros[i] % 2 == 0:       # número par
        numeros[i] = numeros[i] / 2
    else:                         # número ímpar
        numeros[i] = numeros[i] / 3

# Exibir resultado
print("Lista modificada:")
print(numeros)

Digite o 1º número: 5
Digite o 2º número: 6
Digite o 3º número: 8
Digite o 4º número: 2
Digite o 5º número: 7
Digite o 6º número: 1
Digite o 7º número: 4
Digite o 8º número: 3
Digite o 9º número: 9
Digite o 10º número: 10
Lista modificada:
[1.6666666666666667, 3.0, 4.0, 1.0, 2.3333333333333335, 0.3333333333333333, 2.0, 1.0, 3.0, 5.0]

In [5]:
frase = input("Digite uma frase: ")

palavras = frase.split()  # separa a frase em palavras
vogais = "aeiouAEIOU"

resultado = []

for p in palavras:
    if p[0] in vogais:  # verifica se começa com vogal
        resultado.append(p)

print("Palavras que começam com vogal:")
print(resultado)

Digite uma frase: O Gustavo é foda
Palavras que começam com vogal:
['O']

In [6]:
# Função para verificar se um número é primo
def eh_primo(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Ler 10 números inteiros
numeros = []
for i in range(10):
    n = int(input(f"Digite o {i+1}º número: "))
    numeros.append(n)

# Criar lista apenas com os números primos
primos = []
for num in numeros:
    if eh_primo(num):
        primos.append(num)

print("Lista original:", numeros)
print("Números primos:", primos)

Digite o 1º número: 55
Digite o 2º número: 54
Digite o 3º número: 58
Digite o 4º número: 57
Digite o 5º número: 59
Digite o 6º número: 56
Digite o 7º número: 52
Digite o 8º número: 51
Digite o 9º número: 53
Digite o 10º número: 66
Lista original: [55, 54, 58, 57, 59, 56, 52, 51, 53, 66]
Números primos: [59, 53]

In [8]:
# Ler 8 elementos
lista = []
for i in range(8):
    elemento = input(f"Digite o {i+1}º elemento: ")
    lista.append(elemento)

# Verificar se é palíndroma
if lista == lista[::-1]:
    print("A lista é palíndroma!")
else:
    print("A lista NÃO é palíndroma.")

Digite o 1º elemento: carro
Digite o 2º elemento: macarrão
Digite o 3º elemento: tomate
Digite o 4º elemento: torrada
Digite o 5º elemento: frango
Digite o 6º elemento: maçã
Digite o 7º elemento: chocolate
Digite o 8º elemento: sal
A lista NÃO é palíndroma.

In [9]:
import random

lista1 = [random.randint(1, 100) for _ in range(10)]
lista2 = [random.randint(1, 100) for _ in range(10)]

intersecao = list(set(lista1) & set(lista2))

print("Lista 1:", lista1)
print("Lista 2:", lista2)
print("Interseção:", intersecao)

Lista 1: [91, 79, 69, 30, 93, 43, 77, 38, 79, 40]
Lista 2: [79, 31, 33, 13, 64, 78, 12, 36, 39, 45]
Interseção: [79]

In [10]:
import random

mega = random.sample(range(1, 61), 6)
print("Números sorteados:", mega)

Números sorteados: [49, 12, 25, 41, 43, 26]

In [11]:
numeros = [int(input(f"Digite o {i+1}º número: ")) for i in range(10)]

nova = []
acumulador = 0

for n in numeros:
    acumulador += n
    nova.append(acumulador)

print("Lista acumulada:", nova)

Digite o 1º número: 44
Digite o 2º número: 47
Digite o 3º número: 77
Digite o 4º número: 85
Digite o 5º número: 25
Digite o 6º número: 36
Digite o 7º número: 21
Digite o 8º número: 93
Digite o 9º número: 65
Digite o 10º número: 17
Lista acumulada: [44, 91, 168, 253, 278, 314, 335, 428, 493, 510]

In [12]:
nomes = [input(f"Nome {i+1}: ") for i in range(10)]
resultado = [n for n in nomes if len(n) <= 10]
print(resultado)

Nome 1: Sandra
Nome 2: carlos
Nome 3: renan
Nome 4: joana
Nome 5: kaun
Nome 6: carla
Nome 7: deborah
Nome 8: maria
Nome 9: eduarda
Nome 10: suyane
['Sandra', 'carlos', 'renan', 'joana', 'kaun', 'carla', 'deborah', 'maria', 'eduarda', 'suyane']

In [13]:
matriz = []
for i in range(4):
    linha = [int(input()) for _ in range(4)]
    matriz.append(linha)

soma = sum(matriz[i][3 - i] for i in range(4))
print("Soma da diagonal secundária:", soma)
58

5
7
4
9
2
55
63
14
17
15
25
26
23
24
21
27
Soma da diagonal secundária: 110

In [14]:
import random

matriz = [[random.randint(1, 99) for _ in range(5)] for _ in range(5)]
medias = [sum(linha) / 5 for linha in matriz]

print("Matriz:")
for linha in matriz:
    print(linha)
print("Médias:", medias)

Matriz:
[47, 56, 10, 85, 54]
[36, 41, 27, 89, 69]
[52, 19, 45, 52, 26]
[98, 56, 82, 7, 72]
[12, 12, 19, 54, 20]
Médias: [50.4, 52.4, 38.8, 63.0, 23.4]

In [16]:
matriz = [[int(input()) for _ in range(3)] for _ in range(3)]
identidade = True

for i in range(3):
    for j in range(3):
        if (i == j and matriz[i][j] != 1) or (i != j and matriz[i][j] != 0):
            identidade = False

print("É identidade?" , identidade)

55
7596
789
456
1258
546
357
159
64
É identidade? False

In [17]:
A = [[int(input()) for _ in range(3)] for _ in range(3)]
simetrica = True

for i in range(3):
    for j in range(3):
        if A[i][j] != A[j][i]:
            simetrica = False

print("É simétrica?", simetrica)

56
54
58
57
51
52
53
55
64
É simétrica? False

In [18]:
matriz = [[i * j for j in range(3)] for i in range(5)]
for linha in matriz:
    print(linha)

[0, 0, 0]
[0, 1, 2]
[0, 2, 4]
[0, 3, 6]
[0, 4, 8]

In [19]:
matriz = [[int(input()) for _ in range(4)] for _ in range(4)]
menores = [min(matriz[i][col] for i in range(4)) for col in range(4)]
print(menores)

78
79
74
75
76
71
25
24
29
23
84
86
84
55
69
57
[29, 23, 25, 24]

In [20]:
m = [[float(input()) for _ in range(3)] for _ in range(3)]

det = (
    m[0][0]*m[1][1]*m[2][2] +
    m[0][1]*m[1][2]*m[2][0] +
    m[0][2]*m[1][0]*m[2][1] -
    m[0][2]*m[1][1]*m[2][0] -
    m[0][0]*m[1][2]*m[2][1] -
    m[0][1]*m[1][0]*m[2][2]
)

print("Determinante:", det)

4
56
0
30
50
210
756
654
369
Determinante: 7795080.0

In [21]:
A = [[int(input()) for _ in range(3)] for _ in range(3)]
B = [[int(input()) for _ in range(3)] for _ in range(3)]

soma = [[A[i][j] + B[i][j] for j in range(3)] for i in range(3)]
dif = [[A[i][j] - B[i][j] for j in range(3)] for i in range(3)]

print("Soma:", soma)
print("Diferença:", dif)

63
54
95
41
27
58
33
22
11
66
55
48
99
789
456
123
369
258
Soma: [[129, 109, 143], [140, 816, 514], [156, 391, 269]]
Diferença: [[-3, -1, 47], [-58, -762, -398], [-90, -347, -247]]

In [23]:
A = {int(input()) for _ in range(10)}
B = {int(input()) for _ in range(10)}

print("Interseção:", A & B)
print("União:", A | B)
print("A - B:", A - B)
print("B - A:", B - A)

55
69
785
1426
3598
65
248
741
159
357
35698
21456
35987
32165
47895
365214
5656
1414
25478
369
Interseção: set()
União: {65, 69, 1414, 25478, 3598, 21456, 785, 1426, 35987, 47895, 5656, 365214, 159, 741, 357, 32165, 369, 35698, 55, 248}
A - B: {65, 357, 69, 741, 3598, 785, 1426, 55, 248, 159}
B - A: {32165, 25478, 1414, 21456, 369, 35698, 35987, 47895, 5656, 365214}

In [24]:
frase = input("Digite uma frase: ").lower()
conjunto = {c for c in frase if c.isalpha()}
print(conjunto)

Digite uma frase: Sandra passou
{'s', 'u', 'p', 'n', 'r', 'd', 'o', 'a'}

In [25]:
conj = {n for n in range(1, 101) if n % 2 != 0 and n % 3 != 0}
print(conj)

{1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97}

In [26]:
conj = {input("Palavra: ") for _ in range(10)}
resultado = {p for p in conj if len(p) > 5}
print(resultado)

Palavra: carro
Palavra: casa
Palavra: coro
Palavra: laura
Palavra: sandra
Palavra: gustavo
Palavra: luan
Palavra: ontem
Palavra: sempre
Palavra: palavra
{'sandra', 'sempre', 'palavra', 'gustavo'}

In [27]:
A = set(map(int, input("Conjunto A: ").split()))
B = set(map(int, input("Conjunto B: ").split()))

print("A ⊆ B:", A.issubset(B))
print("B ⊆ A:", B.issubset(A))

Conjunto A: 44
Conjunto B: 546
A ⊆ B: False
B ⊆ A: False

In [28]:
numeros = set(map(int, input("Números: ").split()))
quadrados = {n for n in numeros if int(n**0.5)**2 == n}
print(quadrados)

Números: 5
set()

In [31]:
func = {}

for i in range(5):
    nome = input("Nome: ")
    sal = float(input("Salário: "))
    if sal < 2000:
        sal *= 1.10
    func[nome] = sal

print(func)

Nome: Gustavo
Salário: 789456123
Nome: Sandra
Salário: 58741236
Nome: Edina
Salário: 32465489765
Nome: Samara
Salário: 654687654
Nome: Jordana
Salário: 4564654874
{'Gustavo': 789456123.0, 'Sandra': 58741236.0, 'Edina': 32465489765.0, 'Samara': 654687654.0, 'Jordana': 4564654874.0}

In [34]:
alunos = {}

for i in range(5):
    nome = input("Aluno: ")
    notas = [float(input()) for _ in range(3)]
    alunos[nome] = notas

for nome, notas in alunos.items():
    print(nome, "→ Média:", sum(notas)/3)

Aluno: Sandra
3
3
3
Aluno: Sofia
6
5
2
Aluno: Ryan
5
5
5
Aluno: Jordana
4
5
6
Aluno: Edina
5
8
9
Sandra → Média: 3.0
Sofia → Média: 4.333333333333333
Ryan → Média: 5.0
Jordana → Média: 5.0
Edina → Média: 7.333333333333333

In [35]:
sin = {
    "feliz": ["contente", "alegre", "satisfeito"],
    "triste": ["melancólico", "abatido"]
}

palavra = input("Digite uma palavra: ").lower()
print(sin.get(palavra, "Sem sinônimos cadastrados."))

Digite uma palavra: Tomate
Sem sinônimos cadastrados.

In [36]:
d = {}

for _ in range(10):
    palavra = input("Palavra: ")
    letra = palavra[0]
    d.setdefault(letra, []).append(palavra)

print(d)

Palavra: Moradia
Palavra: calça
Palavra: short
Palavra: sirius
Palavra: preto
Palavra: branco
Palavra: um
Palavra: dois
Palavra: tres
Palavra: quatro
{'M': ['Moradia'], 'c': ['calça'], 's': ['short', 'sirius'], 'p': ['preto'], 'b': ['branco'], 'u': ['um'], 'd': ['dois'], 't': ['tres'], 'q': ['quatro']}

In [38]:
produtos = {}

for _ in range(3):
    nome = input("Produto: ")
    precos = [float(input("Preço: ")) for _ in range(3)]
    produtos[nome] = precos

maior_var = None
produto_var = ""

for p, valores in produtos.items():
    variacao = max(valores) - min(valores)
    if maior_var is None or variacao > maior_var:
        maior_var = variacao
        produto_var = p

print("Maior variação:", produto_var, maior_var)

Produto: Toddy
Preço: 10
Preço: 45
Preço: 90
Produto: 56
Preço: 32
Preço: 12
Preço: 5
Produto: 6
Preço: 7
Preço: 9
Preço: 45
Maior variação: Toddy 80.0

In [39]:
frase = input("Frase: ").lower().split()
dic = {}

for palavra in frase:
    dic[palavra] = dic.get(palavra, 0) + 1

print(dic)

Frase: Eu gosto de preto
{'eu': 1, 'gosto': 1, 'de': 1, 'preto': 1}